<ul class="social-media-list">
  <li>
    <a href="mailto:hoseung@kaist.ac.kr" target="_blank" title="Email">
      <img alt="ORCID" src="https://hoseungs.github.io/assets/css/email.png" width="16" height="16" />
    </a>
  </li>
  <li>
    <a href="https://scholar.google.com/citations?hl=en&user=kTC7m0wAAAAJ&view_op=list_works&sortby=pubdate" target="_blank" title="Google Scholar">
      <img alt="ORCID" src="https://hoseungs.github.io/assets/css/gs.png" width="16" height="16" />
    </a>
  </li>
  <li>
    <a href="https://www.linkedin.com/in/songhs/" target="_blank" title="Linkedin">
      <img alt="ORCID" src="https://hoseungs.github.io/assets/css/linkedin.png" width="16" height="16" />
    </a>
  </li>
  
  {%- for entry in site.minima.social_links -%}
    {%- include social-item.html item = entry -%}
  {%- endfor -%}

</ul>
